@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

*{
    font-family: 'Manrope', sans-serif !important;
}

h5{
    font-family: 'Manrope', sans-serif !important;
    font-weight: 800 !important;
    font-size: 1.1rem !important;
}

.nav-item a{
    color: #fff !important;
    font-weight: 400;
    border-block-end: 2px solid rgba(255, 255, 255, 0);
    line-height: 1.15;
}

.nav-item a:hover, .list-unstyled a:hover{
    color: rgb(255, 177, 9) !important;
    font-weight: 600;
    border-block-end: 2px solid;
    writing-mode: horizontal-tb;
}

.icon-header{
    color: #fff;
    padding-top: 20px;
}

.icons-navbar{
    margin: auto;
    padding: auto;
    justify-content: center;
}

#especialidades{
    font-size:0.9rem;
}

/* .bg-menu{
    background-color: rgba(30, 30, 30, 0.769);
} */

.background-capa{
    background-image:
    linear-gradient(to bottom, rgba(19, 19, 19, 0.751), rgba(35, 35, 35, 0.902)),
    url('./assets/image0.jpeg');
    width: auto;
    height: 90vh;
    box-sizing: border-box;
    background-size: cover;
    background-position: top;
    color: white;
}

.nav-item {
    text-transform: uppercase;
}

.bg-cards-amarelo{
    background-color: rgb(255, 196, 0) !important;
    border: none !important;
    border-radius: 20px !important;
    visibility: hidden;
}

.bg-form{
    padding: 30px !important;
    border-radius: 20px;
    background-color: rgba(176, 176, 176, 0.788);
}

.card-text{
    font-size: 0.8rem;
}

.titulo-secao, .btn-group {
    visibility: hidden;
}

.clearfix img{
 padding: 20px;
}

.clearfix {
    align-items: center;
}

a{
    text-decoration: none !important;
}

.btn-e {
    border-radius: 30px 0px 0px 30px !important;
}

.btn-d {
    border-radius: 0px 30px 30px 0px !important;
}

.btn-d-e {
    border-radius: 30px !important;
}

input{
    border-radius: 20px;
}

.card-galeria img{
    border: 0 !important;
}

.galeria .col{
    padding: 0 !important;
    gap: 0 !important;
}